body {
    background-color: #ebebeb;
}

main > .container {
    padding: 80px 15px 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.stars-container {
    margin: 40px 0;
}

.review-mark {
    font-size: 30px;
}

.review .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card.review .card-text {
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

.card.review .card-text:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(transparent 15px, white);
}

.card.review .btn {
    width: fit-content;
    bottom: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.filter-invert {
    filter: invert(1);
}

.dataTables_wrapper.dt-bootstrap5 {
    padding: 10px;
    background-color: white;
    border-radius: 7px;
}

.dataTables_wrapper.dt-bootstrap5 .row:first-child {
    padding: 5px 0 20px 0;
}

.dataTables_wrapper.dt-bootstrap5 .row:last-child {
    padding: 20px 0 5px 0;
}

.even {
    background-color: #f3f3f3;
}

.odd {
    background-color: #fdfdfd;
}

.avatar {
    height: 40px;
    width: 40px;
    margin: 0 6px;
    border-radius: 50%;
}

.user-name {
    display: flex;
    align-items: center;
}

.user-name .avatar{
   margin-right: 8px;
}

.header-name {
    margin: 0 8px;
    color: white;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    display: inline-block;
    position: relative;
}

.customer-feedback .owl-item img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.feedback-slider-item {
    position: relative;
    padding: 60px;
    margin-top: -40px;
}

.customer-name {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

.feedback-slider-item p {
    line-height: 1.875;
}

.customer-rating {
    background-color: #eee;
    border: 3px solid #fff;
    color: rgba(1, 1, 1, 0.702);
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    width: 47px;
    height: 47px;
    line-height: 36px;
    font-size: 37px;
    right: 0;
    top: 77px;
    text-indent: -5px;
}

.customer-rating i {
    color: rgb(251, 90, 13);
    position: absolute;
    top: 10px;
    right: 5px;
    font-weight: 600;
    font-size: 12px;
}

.feedback-slider-item:after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 103px;
    background-color: #f6f6f6;
    border: 1px solid rgba(251, 90, 13, .1);
    border-radius: 10px;
    z-index: -1;
}

.customer-feedback .owl-nav i {
    background-color: transparent;
    color: rgb(251, 90, 13);
    font-size: 25px;
}

.customer-feedback .owl-prev {
    left: -15px;
}

.customer-feedback .owl-prev:hover {
    left: -20px;
}

.customer-feedback .owl-next {
    right: -15px;
}

.customer-feedback .owl-next:hover {
    right: -20px;
}

.feedback-slider-item:after {
    left: 30px;
    right: 30px;
}

.customer-feedback .owl-nav [class*="owl-"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.customer-feedback .owl-prev {
    left: -20px;
}
.customer-feedback .owl-next {
    right: -20px;
}

.counter{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    background-color: #ffc107;
    border-radius: 10px;
    box-shadow: 6px 6px 0 #00000014;
}

.counter .counter-value{
    color: #fff;
    background: #92c489;
    font-size: 30px;
    font-weight: 600;
    line-height: 105px;
    width: 120px;
    height: 120px;
    margin: 0 auto 12px;
    border-radius: 50%;
    border: 8px solid #92c489;
    box-shadow: 0px 0 0 6px #fff inset, 3px 4px 0 rgb(0 0 0 / 8%);
    display: block;
}
.counter .counter-icon{
    font-size: 35px;
    margin: 0 0 7px;
}
.counter h3{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0;
}
.counter.pink:before{ background-color: #fb364d; }
.counter.pink .counter-value{
    background-color: #fb364d;
    border-color: #fb364d;
}
.counter.orange:before{ background-color: #f06d28; }
.counter.orange .counter-value{
    background-color: #f06d28;
    border-color: #f06d28;
}
.counter.blue:before{ background-color: #162f5b; }
.counter.blue .counter-value{
    background-color: #162f5b;
    border-color: #162f5b;
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

.hero-index {
    margin: 40px 0 80px
}

.hero-index__title {
    font-size: 64px;
}